body {
  font-family: "Open Sans", sans-serif;
}
.primary_text {
  color: rgb(253, 110, 10);
}
.primary_button {
  border-radius: 5px;
  background: rgb(253, 110, 10);
  border: 0px;
  color: white;
  padding: 18px 36px;
}

.title {
  font-size: 45px;
}
nav {
  display: flex;
  color: rgb(24, 24, 24);
  align-items: center;
  justify-content: space-between;
}
nav > ul {
  display: flex;
  list-style: none;
  font-size: 20px;
  align-items: center;
}
nav li {
  margin-right: 50px;
}

/* banner styles */
.banner {
  display: flex;
  align-items: center;
  margin-right:38px;
}
.banner_img1 {
  width: 500px;
  height: 550px;
}
